:root {
    --background-container: #f1f1f1;
    --background-body: #7cd164;
    --text-color-title: #aedd2b;
    --text-color-buttom: #fff;
    --text-color-timer: #333;
    --text-color-time: #172953;
    --text-color-separator: #525763;
    --text-color-border: #cccccc;
}